
@font-face {
    font-family: "louisgeorgecafebold";
    src: url(LouisGeorgeCafeBold.ttf) format("truetype");
  }
  @font-face{
      font-family: "FiveBoroughsHandwriting";
      src: url(FiveBoroughsHandwriting.ttf) format("truetype");
  }
  h1{
      font-family:"louisgeorgecafebold";
      letter-spacing: 10px;
      line-height: 4rem;
  }
  h2{
      font-size: 1.25rem;
      animation: mobileText .5s ease;
      animation-fill-mode: forwards;
  }
  .name{
    font-family:"louisgeorgecafebold";
  }
  .navbar-nav{
    font-family:"louisgeorgecafebold";
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    
  }
  .first{
    padding-left: 35px;
  }
  h2{
      color: yellow;
  }
  .navbar-toggler{
    background-color: transparent;
  }
  .men1{
      float: left;
  }
  .men2{
      float: right;
  }

  a{
      position: relative;
      z-index: 1;
      padding: .75rem 1rem;
      color: #fff;
      cursor: pointer;
      outline: none;
      touch-action: manipulation;
      -webkit-tap-highlight-color: transparent;
  }
  .nav-item{
    font-family:"louisgeorgecafebold";
  }
  .icc{
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
  }
  .tooltip{
      color: white;
  }
  .wrapper{
      display: inline-flex;
  }
  .wrapper .iconn{
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      cursor: pointer;
  }
  .wrapper .iconn span{
      position: relative;
      height: 50px;
      width: 50px;
      display: block;
      background:  #202020;
      text-align: center;
      border-radius: 50%;
      z-index: 2;
      box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  }
  .wrapper .iconn span i{
      font-size: 25px;
      line-height: 50px;
  }
  .wrapper .iconn .tooltipp{
      position: absolute;
      top: 0px;
      background: yellow;
      font-size: 20px;
      padding: 10px 18px;
      border-radius: 25px;
      box-shadow: 0 10px 10px rgba(0,0,0,0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s cubic-bezier(0.68,0.55,0.265,1.55);
      font-family: "FiveBoroughsHandwriting";
  }
  .wrapper .iconn:hover span,
  .wrapper .iconn:hover .tooltipp{
      text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .iconn:hover .tooltipp{
      top: -70px;
      opacity: 1;
      pointer-events: auto;
  }
  .wrapper .iconn .tooltipp:before{
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background-color: yellow;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
  }
  .icon{
      display: inline-block;
      position: relative;
      text-decoration: none;
      background-color: #202020;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 0;
  }
  .nav-link{
      border-bottom: 2px solid yellow;
      color: white;
  }
  
  .navbar-nav{
      color: white;
  }
  .navy{
      color: white;
      transition: 0.8s;
  }
.iconContainer{
    display: -ms-flexbox;
}
.main .iconContainer .iconName{
    position: absolute;

   letter-spacing: 3px;
    
    color: yellow;
    font-size: 1rem;
    opacity: 1;
    transition: all.3s ease;
    margin-left: 5%;
}
.iconContainer .icon:hover .iconName{
    opacity: 1;
    transform-origin: center 50% 0px;
    transform: translateX(-50%) rotate(10deg);
}

  .navy::before{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0%;
      background: yellow;
      z-index: -1;
      transition: 0.4s;
      
  }
  .navy1:hover{
      color: white;
  }
  .navy2:hover{
    color: white;
}
.navy3:hover{
    color: white;
}
.navy1::before, .navy2::before, .navy3::before{
bottom: 0;
border-radius: 0 0 0 0;
}
.navy1:hover::before, .navy2:hover::before, .navy3:hover::before{
    height: 100%;
}

.imgg img:nth-child(1) {
    position: absolute;
    transition: 1s;
}
.imgg img:nth-child(1):hover {
    opacity: 0;
}
.pro{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pro .box{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    margin: 40px;
}
.aboutme{
    background-color: yellow;
}
.navbar-brand:hover{
    color: white;
}
#kuch{
    
    font-size: 31.5333px;
}
#ab{
    
    font-family:"louisgeorgecafebold";
    opacity: 0.8;
    font-size: 18.3333px;
}
.about{
    padding: 50px;
}
.skills{
    background-color: yellow;
}
.sk1{
    animation-name: myanimation1;
    animation-duration: 2s;
}
.sk2{
    animation-name: myanimation2;
    animation-duration: 2s;
}
.pg1{
    animation-name: animation1;
    animation-duration: 2s;
}
.pg2{
    animation-name: animation2;
    animation-duration: 2s;
}
.pg3{
    animation-name: animation3;
    animation-duration: 2s;
}
.pg4{
    animation-name: animation4;
    animation-duration: 2s;
}
.pg5{
    animation-name: animation5;
    animation-duration: 2s;
}
.pg6{
    animation-name: animation6;
    animation-duration: 2s;
}
.skill{
    animation-name: animation7;
    animation-duration: 2s;
}
.sab{
    padding-top: 70px;
}
@keyframes animation7 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animation1 {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes animation2 {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
@keyframes animation3 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes animation4 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes animation5 {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes animation6 {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

@keyframes myanimation1 {
    0%{
        bottom: -40px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes myanimation2 {
    0%{
        bottom: -40px;
    }
    100%{
        bottom: 0;
    }
}

  

  @media all and (max-width:768px) and (min-width:0px){
    h1{
        font-size: 30px;
        letter-spacing: 5px;
        } 
        .nav-link{
            border-bottom: none;
        }
        .navy1:hover::before, .navy2:hover::before, .navy3:hover::before{
            height: 0%;
        }
        .first{
            padding-left: 5px;
        }
        .wrapper .iconn span{
            height: 40px;
            width: 40px;
        }
        .wrapper .iconn span i{
            line-height: 40px;
        }
        .wrapper .iconn{
            margin: 0 10px;
        }
        .wrapper .iconn .tooltipp:before{
            position: absolute;
            content: "";
            height: 10px;
            width: 10px;
            background-color: yellow;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
        }
        .wrapper .iconn .tooltipp{
            position: absolute;
            top: 0px;
            background: yellow;
            font-size: 16px;
            padding: 10px 18px;
            border-radius: 25px;
            box-shadow: 0 10px 10px rgba(0,0,0,0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s cubic-bezier(0.68,0.55,0.265,1.55);
        }
        .img2{
            margin-top: 40px;
        }
        .img3{
            margin-top: 40px;
        }
        h1{
            line-height: 45px;
        }
        p{
            padding-top: 20px;
        }
        .aboutme{
            background-color: transparent;
        }
        .about{
            padding: 40px;
        }
        .skills{
            background-color: transparent;
        }
        .navbar-nav{
            padding-top: 50px;
        }
       
        
  }






